<div class="container">
    <br>
    <h3>Редактирование профиля человека</h3>
        <form [formGroup]="form1" (ngSubmit)="submit">
            <input type="hidden" formControlName="id">
            <div class="col-12 mt-10">
                <label for="name" class="col-12">Имя
                    <input [ngClass]="{'is-invalid' : (form1.get('name').invalid && form1.get('name').touched), 'is-valid' : !form1.get('name').invalid && form1.get('name').touched}" type="text" class="form-control col-12" placeholder="Введите имя" formControlName="name" #name>
                    <div class="validation" *ngIf="form1.get('name').invalid && form1.get('name').touched">
                        <small class="text-danger">Поле не может быть пустым</small>
                    </div>
                </label>
            </div>
            <div class="col-12 mt-10">
                <label for="surname" class="col-12">Фамилия
                <input type="text" [ngClass]="{'is-invalid' : (form1.get('surname').invalid && form1.get('surname').touched), 'is-valid' : !form1.get('surname').invalid && form1.get('surname').touched}" class="form-control"  placeholder="Введите фамилию" formControlName="surname" #surname>
                <div class="validation" >
                    <small class="text-danger" *ngIf="form1.get('surname').invalid && form1.get('surname').touched">Поле не может быть пустым</small>
                </div>
                </label>
            </div>
            <div class="col-12 mt-10">
                <label for="telephone" class="col-12">Номер телефона
                <input type="tel" class="form-control" [ngClass]="{'is-invalid' : (form1.get('telephone').invalid && form1.get('telephone').touched), 'is-valid' : !form1.get('telephone').invalid && form1.get('telephone').touched}" placeholder="Введите номер телефона" formControlName="telephone" [textMask]="{mask: mask}" [(ngModel)]="myModel" #telephone>
                <div class="validation" *ngIf="form1.get('telephone').invalid && form1.get('telephone').touched">
                    <small class="text-danger" *ngIf="form1.get('telephone').errors.required">Поле не может быть пустым</small>
                    <small class="text-danger" *ngIf="form1.get('telephone').errors.minlength">Длинна {{form1.get('telephone').errors.minlength.actualLength}} из {{form1.get('telephone').errors.minlength.requiredLength}}</small>
                </div>
                </label>
            </div>
            <br>
            <label class="col-12" for="button">
                <button type="submit" class="btn btn-primary col-12" (click)="savePeople(id)" name="button" [disabled]="form1.invalid">Сохранить изменения</button>
            </label>
        </form>
</div>






 
